<nav id="myNavbar" className="navbar changeColor">
    <app-button-animation></app-button-animation>
    <div class="d-flex justify-content-between wrap">
        <div class="div1">
            <input class="search" type="text" placeholder="Search..">
            <i class="fas fa-search isearch"></i>
        </div>
        <div class="div2">

            <div class="dropdown">
                <a class="dropdown-toggle mylinknav" id="dropdownMenuLink" data-toggle="dropdown">
                    Hello, Truc
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item">Setting</a>
                    <a class="dropdown-item">Logout</a>
                </div>
            </div>

            <i class="fas fa-bell ialert"></i>
            <span class="badge">10</span>

        </div>
    </div>
</nav>