<div id="navbarLeft">

  <!-- Logo -->
  <div class="logoCompany">
    <div class="circle">
      <img src="../../../../assets/images/MIN-OP1.png" alt="cyberSoft">
    </div>
  </div>


  <div class="sidebarLeft">
    <ul class="list-unstyled">

      <!-- Menu List -->
      <li class="menuList">
        <i class="fas fa-tachometer-alt"></i> <span class="title dashboard">Dashboard</span><br>
        <i class="fas fa-users"></i> <span class="title dashboard">Học Viên</span><br>
        <i class="fas fa-book"></i> <span class="title dashboard">Khoá Học</span><br>
        <i class="fas fa-door-open"></i> <span class="title dashboard">Lớp Học</span><br>
        <i class="fas fa-user-tie"></i> <span class="title dashboard">Giảng viên</span><br>
      </li>


      <!-- Parent List -->
      <li class="parentList">
        <i class="fas fa-user-circle"></i> <span class="title">LMS</span>
        <ul class="list-unstyled childList">
          <li>
            <i class="far fa-dot-circle"></i> <span>Thêm Role</span> 
          </li>
          <li>
            <i class="far fa-dot-circle"></i> <span>Sửa Role</span> 
          </li>
          <li>
            <i class="far fa-dot-circle"></i> <span>Xoá Role</span> 
          </li>
        </ul>
      </li>

      <li class="parentList">
        <i class="fas fa-map-marked-alt"></i> <span class="title">KẾ TOÁN</span>
        <ul class="list-unstyled childList">
            <li>
              <i class="far fa-dot-circle"></i> <span>Thêm Role</span>
            </li>
            <li>
              <i class="far fa-dot-circle"></i> <span>Sửa Role</span>
            </li>
            <li>
              <i class="far fa-dot-circle"></i> <span>Xoá Role</span>
            </li>
          </ul>
      </li>

      <li class="parentList">
        <i class="fas fa-book-reader"></i> <span class="title">NHÂN SỰ</span> 
        <ul class="list-unstyled childList">
            <li>
              <i class="far fa-dot-circle"></i> <span>Thêm Role</span>
            </li>
            <li>
              <i class="far fa-dot-circle"></i> <span>Sửa Role</span>
            </li>
            <li>
              <i class="far fa-dot-circle"></i> <span>Xoá Role</span>
            </li>
          </ul>
      </li>

      <li class="parentList">
        <i class="fas fa-door-open"></i> <span class="title">KHÁCH HÀNG</span> 
        <ul class="list-unstyled childList">
            <li>
              <i class="far fa-dot-circle"></i> <span>Thêm Role</span>
            </li>
            <li>
              <i class="far fa-dot-circle"></i> <span>Sửa Role</span>
            </li>
            <li>
              <i class="far fa-dot-circle"></i> <span>Xoá Role</span>
            </li>
          </ul>
      </li>
     
    </ul>
  </div>

  
</div>