$color_primary: #f8ca00;
$color_secondary: #272635;
$color_white: white;
$color_font: #475057;

$color_gray1: #f1f3f5;
$color_gray2: #bec3c6;
$color_gray3: #919698;

$width_navbarLeft: 255px;
$time_transition: 0.2s;

$font-size: 14px;